* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../Brolex-Watch/img/Brolex-7.jpg);
    background-position: center;
    background-size: cover;
}
.nav {
    height: 12%;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .logo {
    color: white;
    font-size: 33px;
    letter-spacing: 2px;
}
span {
    color: #ed1c24;
}
.nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 18px;
}
.nav ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 15px;
}
.nav ul li a:hover {
    color: #fff;
    transition: 0.6s;
}
.main {
    width: 1240px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.main .text {
    width: 50%;
}
.main .img {
    width: 40%;
}
.text h1 {
    color: white;
    font-size: 55px;
    letter-spacing: 5px;
    font-weight: 800;
    margin-bottom: 15px;
}
.text p {
    color: white;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 15px;
}
button {
    border: 1px solid #ed1c24;
    padding: 12px 40px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: #ed1c24;
    border-radius: 30px;
    letter-spacing: 1px;
}
button:hover {
    border: 1px solid white;
    background-color: white;
    color: #ed1c24;
    transition: 0.6s;
    cursor: pointer;
}
.links {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ed1c24;
}
.links ul {
    display: inline-flex;
    margin: 30px auto;
    text-align: center;
}
.links ul li {
    list-style-type: none;
    margin: 0 60px;
    cursor: pointer;
}
.links ul li i {
    color: white;
    font-size: 20px;
}
.links ul li p {
    color: white;
    font-size: 14px;
    margin-top: 10px;
}